body {
    font-family: Verdana;
    background-color: #f7f0ff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #000;
    font-size: 100px;
}

p {
    color: #000;
    font-size: 20px;
    margin-bottom: 100px;
}

.card {
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
}

input {
    padding: 15px;
    width: 60%;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 15px;
}

button {
    padding: 12px 12px;
    background-color: #eeaaff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

ul {
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f3f4f5;
    margin: 15px 0;
    padding: 10px;
    border-left: 5px solid #eeaaff;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}