body {
    font-family: Verdana;
    background-color: #f7f0ff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #000;
    font-size: 70px;
}

.produs-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    color: #000;
    margin-top: 0;
}

img {
    margin-bottom: 15px;
    max-width: 100%;
}

button {
    padding: 12px 12px;
    background-color: #eeaaff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.ascuns {
    display: none;
}

#detalii {
    margin-top: 15px;
    text-align: left;
    font-size: 13px;
    color: #000;
}

#dataProdus {
    font-weight: bold;
}